body {

}
.outerContainer {
    min-height: -webkit-fill-available;
    background-color: aliceblue;
    display: flex;
    /* flex-direction: unset; */
    align-items: center;
}

.innerContainer{
    text-align: center;
    
}

.innerContainer h2 {
    font-family: "Lucida Handwriting";
    margin: 0;
    padding-bottom: 30px;
 }

.eventName {
    padding-top: 0 !important;
    padding-bottom: 5px;
}

dt, dd {
    padding-top: 10px;
}