@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>UBe Our Guest is a web application for an event management company based in Victoria, Australia, that allows customers to book events and avail services like photography, catering and stage setting etc. The customers can choose from the various events that are offered and book any desired event. The application is regularly updated with new events. It digitalizes the field of event management by offering all the company services online where the customer can easily plan their event through a few simple clicks. Customer service is ensured by quick and reliable response rates.</p>
