<link href="~/Content/index.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}   

<div class="row outerContainer">
    <div class="col-xs-12 innerContainer">
        <h2>Start planning your event today!</h2>
    </div>
 </div>
